* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(142,113,213);
  overflow-x: hidden;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  margin-left: 20px;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: rgb(180,158,244);
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.rubrik {
  text-align: left;
  margin-left: 200px;
  padding-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 10px;
    border: 1px solid black;
    margin:10px;
}

.container:nth-child(2){
  font-family: "Lato", "sans-serif";
}

.button:nth-child(2){
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.example-content{
  display: flex;
  flex-direction: row;
}

.typography-container{
  margin-left: 200px;
  padding-left: 20px;
  display: flex;
  flex-direction: column ;
}

.description{
  margin: 3rem;
  font-size: 20px;
}
.two-blocks{
  display: flex;
  flex-direction: row;
}

.font-header{
  font-size: 64px;
  text-align: center;
  margin:30px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
}
.font-header2{
  font-family: "Noto Sans", "sans-serif";
  font-size: 64px;
  text-align: center;
  margin:40px;
  font-weight: 300;
  font-weight: 500;
}
.lato-thin {
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.noto{
  font-size: 25px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.montserrat{
  font-size: 25px;
  font-weight: 600;
}

.button1{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button1:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
}


.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: orange;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font-family: 'Montserrat', sans-serif; /* put your font-family */
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.effect.effect-4 {
  transition: all 0.5s linear 0s;
  animation: fadeIn 2s ;
}

.effect.effect-4:before {
  content: "\f178";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transform: scale(0,3);
  transition: all 0.1s linear 0s;
}

.effect.effect-4:hover {
  text-indent: -9999px;
}

.effect.effect-4:hover:before {
  transform: scale(1,1);
  text-indent: 0;
}

.component-examples{
  font-family: "Montserrat", "sans-serif";
}
.component-examples:nth-child(2){
  font-family: "Lato", "sans-serif";
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}